.owl-carousel {
  position: relative;

  &.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;

    .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 750px;
      position: relative;
      z-index: 0;

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        opacity: 0;
      }

      .slider-text {
        height: 750px;
        z-index: 0;

        .one-third {
          width: 60%;
          position: relative;
          z-index: -1;

          .overlay {
            @extend .overlay;
            opacity: 0;
          }
        }

        .one-forth {
          width: 50%;
          position: relative;

          .text {
            width: 100%;
          }
        }

        .subheading {
          color: #ffbd39;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }

        .text {
          position: relative;
          z-index: 1;
        }

        h1 {
          font-size: 60px;
          color: #fff;
          line-height: 1.2;
          font-weight: 800;

          span {
            font-weight: 800;
            color: #ffbd39;
          }
        }

        h2 {
          font-size: 30px;
          font-weight: 400;
        }

        p {
          color: rgba(0, 0, 0, 0.8);
          font-weight: 400;
        }

        .btn-custom {
          border: 1px solid #ffbd39;
          padding: 5px 20px;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 3px;
        }
      }
    }

    .owl-nav {
      position: absolute;
      bottom: 60px !important;
      left: 0;
      right: 0;
      margin: 0 auto;

      .owl-prev,
      .owl-next {
        position: absolute;
        width: 60px;
        height: 60px;
        background: #fff !important;
        transition: all 0.7s ease;
        opacity: 1;

        span:before {
          font-size: 20px;
          margin-top: 7px;
          color: #000000;
        }
      }

      .owl-prev {
        top: 0 !important;
        right: 0 !important;

        &:hover,
        &:focus {
          background: #000000 !important;
          outline: none !important;

          span:before {
            font-size: 20px;
            margin-top: 7px;
            color: #ffbd39;
          }
        }
      }

      .owl-next {
        top: 0 !important;
        right: 0 !important;

        &:hover,
        &:focus {
          background: #000000 !important;
          outline: none !important;

          span:before {
            font-size: 24px;
            margin-top: 7px;
            color: #ffbd39;
          }
        }
      }
    }

    .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      width: 100%;

      .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);

        &.active {
          background: #fff;
        }
      }
    }
  }

  .owl-item {
    opacity: .4;

    &.active {
      opacity: 1;
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: #e6e6e6;
      position: relative;

      &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
      }

      &:hover,
      &:focus {
        outline: none !important;
      }

      &.active {
        background: #b3b3b3;
      }
    }
  }

  @media (max-width: 1199.98px) {
    &.home-slider .slider-item {
      background-position: center center !important;
    }
  }

  @media (max-width: 991.98px) {
    &.home-slider {
      .slider-item {
        .slider-text {
          text-align: center;

          .one-third {
            width: 100%;
            z-index: 0;

            .overlay {
              opacity: .3;
            }
          }

          h1 {
            color: #fff;
            font-size: 50px;
          }

          h2 {
            color: #fff;
          }

          p {
            color: rgba(255, 255, 255, 0.7);
            font-size: 23px;
          }
        }

        .owl-nav {
          display: none;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    &.home-slider {
      .slider-item .slider-text h1 {
        font-size: 40px;
      }

      .owl-dots {
        bottom: 5px;
      }
    }
  }

  @media (min-width: 768px) {
    &.home-slider .slider-item .slider-text .one-forth {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 1200px;
      margin: 0 auto;
    }
  }

  @media (min-width: 992px) {
    &.home-slider .slider-item .slider-text .one-forth .text {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      right: 0;
      max-width: 50%;
      padding-left: 45px;
      padding-right: 3em;
    }

    .home-slider {
      .owl-nav .owl-prev {
        right: 61px !important;
      }

      .owl-nav .owl-next {
        right: 0 !important;
      }
    }
  }
}
